@model IEnumerable<BookModel>;
@{
    ViewData["Title"] = "Get All Books";
}

<div class="text-center">
    <div class="container">
        <h1 class="display-4">All Books</h1>
        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="width: 18rem;">
                        <img src="@book.CoverImageUrl" class="card-img-top" alt="unnamed">
                        <div class="card-body">
                            <h3 class="card-title">@book.Title</h3>
                            <p class="card-text">@book.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-route="bookDetailsRoute" asp-route-id="@book.Id"
                                        class="btn btn-sm btn-outline-secondary">View Details</a>
                                        @* asp-fragment="similarBooks" *@
                                </div>
                                <small class="text-muted">@book.Author</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
